<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/cherryShirts-logo.png') }}" type="image/x-icon">
    <title>CherryShirts</title>
</head>
<body>
    <h1>Este es su carrito</h1>
    <form  method="GET" action="{{ url_for('logout')}}">
        <input type="submit" value="Cerrar sesion">
    </form>
    <form  method="GET" action="{{ url_for('perfil')}}">
        <input type="submit" value="Mi perfil">
    </form>
    <form  method="GET" action="{{ url_for('index')}}">
        <input type="submit" value="Inicio">
    </form>
    </br>
    total= {{ total }}
    <form  method="GET" action="{{ url_for('pagar')}}">
        <input type="submit" value="Pagar">
    </form>

    {% for camisa in camisas %}
        <div>
            Nombre: {{ camisa[3] }}</br> 
            <div ><img src="/static/images/{{ camisa[4] }}"  alt=""></div></br>
            Valor: {{ camisa[2] }}</br>
        </div>
    {% endfor %}
    {% for designe in designes %}
        <div>
            Nombre: {{ designe[1] }}</br> 
            <div ><img src="/static/imagesD/{{ designe[2] }}"  alt=""></div></br>
        </div>
    {% endfor %}
</body>
</html>