<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/cherryShirts-logo.png') }}" type="image/x-icon">
        <title>CherryShirts</title>
        <!-- Fuentes de google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <!-- Estilos css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">

    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="nav__option ctn__logo">
                    <a class=" nav__ctn-logo option__link" href="{{ url_for('index')}}" target="_self">
                        <img class="img-logo" src="{{ url_for('static', filename='assets/cherryShirts-logo.png') }}" alt="CherryShirts">
                        <p class="text-logo ">CherryShirts</p>
                    </a>
                </div>
    
                <div class="nav__option option">
                    <a class="option__link optn-txt" href="{{ url_for('carro')}}" target="_self">Mis productos</a>
    
                </div>
                <div class="nav__option option">
                    <a class="option__link optn-txt" href="{{ url_for('perfil')}}" target="_self">Mi perfil</a>
                </div>
                <div class="nav__option option">
                    <a class="option__link optn-txt optn-register " href="{{ url_for('logout')}}" target="_self">Cerrar sesión</a>
                </div>
                
            </nav>
        </header>
    <h1>¡¡¡Sube tu diseño!!!</h1>

    <div class="upload-box-status-text">Puedes <a data-trigger="anywhere-upload-input">explorar desde tu computadora</a>
        o <a data-modal="form" data-target="anywhere-upload-paste-url">agregar URLs de imagen</a>.</div>
    </div>
    <form method="POST" action="/guardar_dis" enctype='multipart/form-data'>
        <input id="anywhere-upload-input" data-action="anywhere-upload-input" class="hidden-visibility" type="file"
            accept="image/*, .jpg,.png,.bmp,.webp,.jpeg" name="imagen">

        <ul id="anywhere-upload-queue" class="upload-box-queue content-width soft-hidden" data-group="upload-queue">
        </ul>
        <div id="anywhere-upload-submit" class="btn-container text-align-center margin-bottom-0 soft-hidden"
            data-group="upload-queue-ready">
            <div data-group="upload-queue-ready">
            </div>

            <div class="image-preview"></div>
            <div class="input-label">
                <label for="form-title">Título <span class="required">requerido</span></label>
                <input type="text" id="form-title" name="titulo" class="text-input" value="" maxlength="100">
            </div>

        </div>

        <button class="btn btn-success" id="POST-name" name="subir" value="subir" data-action="upload">Subir</button>
    </form>

</body>
</html>