<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Pagina de inicio</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
    </head>
    <body>
        <form  method="GET" action="{{ url_for('registro')}}">
            <input type="submit" value="Registrate">
        </form>
        <form method="GET" action="{{ url_for('iniciar_sesion')}}">
            <input type="submit" value="Iniciar sesion">
        </form>
        {% for image in imagenes %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-public">
            <div ><img src="/static/images/{{ image[4] }}"  alt=""></div>
            <div >
                <h4>{{ image[1] }}</h4>
                <span><a href="/detalle" title="Visualizar">{{ image[3] }}</a></span>
            </div>
        </div>
        {% endfor %}
    </body>
</html>