<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <form  method="GET" action="{{ url_for('perfil')}}">
        <input type="submit" value="Mi perfil">
    </form>
    <form  method="GET" action="{{ url_for('logout')}}">
        <input type="submit" value="Cerrar sesion">
    </form>
    <form  method="GET" action="{{ url_for('carro')}}">
        <input type="submit" value="Compras">
    </form>
    {% for image in imagenes %}
    <div >
        <div ><img src="/static/images/{{ image[4] }}"  alt=""></div>
        <div >
            <h4>{{ image[1] }}</h4>
            <span><a href="/detalle/{{ image[0]}}" title="Visualizar">{{ image[3] }}</a></span>
        </div>
    </div>
    {% endfor %}
</body>
</html>