<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¿Quieres registrarte?</h1>
    <form action="{{url_for('registro')}}" method="post">
        <div>
            <input type="text" name="user" id="user" placeholder="Usuario">
        </div>
        <div>
            <input type="email" name="email" id="email" placeholder="correo@ejemplo.com">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="contraseña">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
        <div>
            <span class="span1">¿Ya está registrado? </span>
            <span class="span2"><a href="{{ url_for('iniciar_sesion') }}">Inicie Sesión.</a></span>
        </div>
    </form>
</body>
</html>